*
!*.py
!*.json
!*.txt
!*.html
!*.css
!static/
!static/**
!templates/
!templates/**
!README.md
!requirements.txt
client_secret.json
client_secret2.json
__pycache__/
venv/
*.log
token2.json
token2.json
