openai~=1.30
python-dotenv~=1.0
requests~=2.31
moviepy~=1.0
numpy~=1.26
Pillow~=10.2
matplotlib~=3.8
beautifulsoup4~=4.13
pytrends~=4.9
google-api-python-client~=2.131
google-auth~=2.29
google-auth-oauthlib~=1.2
Flask~=3.1
flask_cors~=4.0
fastapi~=0.111
pydantic~=2.7
diffusers~=0.27
torch~=2.2
pynvml~=11.5
soundfile~=0.12
TTS~=0.22
uvicorn~=0.29
